/puphpet/*
/.vagrant/
.idea/
/puphpet/files/dot/ssh
.DS_Store
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.sqlite
composer.lock
/app/bootstrap.php.cache
/app/cache/*
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/composer.lock
/backup/*
/nbproject/*
.htaccess

/var/bootstrap.php.cache
/var/cache/*
/var/cache/
!var/.gitkeep
/var/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/var/phpunit.xml

tests/_output/*