{% for v in tree %}
    <li>
        <a href="{{ v.getSlug() }}">{{ getMenuLocaleTitle(v.getSlug()) }}</a>      
        {% set children = v.getChildren()|length %}
        {% if children > 0 %}
            <ul>
                {% include "AppBundle:Page:tree.html.twig" with { 'tree':v.getChildren() } %}
            </ul>
        {% endif %}
    </li>
{% endfor %}