{% extends "AppBundle::base.html.twig" %}

{% block title %}
	{{ page.getPageMetas()[0].getPageTitle() }}
{% endblock %}

{% block content %}

{% if page is not null %}
<h1>{{ page.getPageMetas()[0].getShortDescription() | raw }}</h1>

{{ page.getPageMetas()[0].getContent() | raw }}

{% endif %}

{% endblock %}
