/web/bundles/
/web/uploads/
/web/minified/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/node_modules
/bower_components

src/AppBundle/tests/_output/*
