{% extends "AppBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}

{% block content %}

	<div class="text-center">
  		{{ 'resetting.check_email'|trans({'%email%': email}) }}
  	</div>

{% endblock %}
