{% extends "AppBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'resetting.request.submit'|trans }}
{% endblock %}

{% block content %}

   <div class="text-center">
        {{ 'resetting.password_already_requested'|trans }}
  </div>
{% endblock %}
